<!-- src/views/index.ejs -->

<div class="text-center">
  <h1 class="mb-5">Welcome to Bert Automation Tool</h1>
  <a href="/dashboard" class="btn btn-primary btn-lg btn-custom">Dashboard</a>
  <!-- Placeholder for future functionality -->
  <a href="#" class="btn btn-secondary btn-lg btn-custom disabled">Coming Soon</a>
</div>
