<!-- src/views/partials/right-sidebar.ejs -->

<div class="box-container" id="StatusBox">
    <div class="top-header-background" style='background-image:url(./layouts/miracle/images/right-panels/right-panel-top-header.png);'>
      <img class="headline" src='./layouts/miracle/images/right-panels/3/label-serverstatus.png'>
    </div>
    <div class="content">
      <div class="status" onClick="window.location='?subtopic=whoisonline'">
        <span class="playersNumber">916 Players Online</span>
      </div>
      <!-- Additional content -->
    </div>
  </div>
  <!-- Add more boxes as needed -->
  